@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Colors & fonts settings*/

:root {
    --green-color: #1C7372;
    --gray-color:  #333;
    --white-color: #fff;
    --black-color: #000;

    --regular-weight: 400;
    --light-weight: 200;

}

html {
    scroll-behavior: smooth;
    color: var(--white-color);
}

body {
    background-color: #1C1C1C;
    height: 2500px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1001px;
    width: 100%;
    background-size:cover;
    background-image: url(../assets/img/first_background.png);
    background-position: center 0;
    background-repeat: no-repeat;
}

.nav-block {
    display: flex;
    justify-content: flex-end;
    gap: 84px;
    width: 100%;
    padding-top: 40px;
    padding-right: 75px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 30px;

    list-style: none;
}

.menu li {
    font-family: "Roboto", sans-serif;
    font-weight: var(--regular-weight);
    font-style: normal;
    font-size: 16px;
}

.Languageinput {
    font-family: "Roboto", sans-serif;
    font-weight: var(--regular-weight);
    font-style: normal;
    font-size: 16px;
    
    border: 0;
}

select {
    background: rgba(0, 0, 0, 0.0);
    color: white;
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */
    border: 0;
}

select option {
    background: none;
    color: #fff;
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */
    border: 0;
}

.act-block-descr {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-right: 75px;
    width: 100%;
}

h1 {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: var(--regular-weight);
    font-style: normal;
    font-size: 195px;
    margin-bottom: 80px;
}

h1::after {
    position: absolute;
    content: ' ';
    background: url(../assets/img/head.png) no-repeat;
    background-size: contain;
    background-size: 542px;
    display: inline-block;
	height: 600px;
	width: 600px;
    left: 753px;
    top: 78px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: var(--light-weight);
    font-style: normal;
    font-size: 170px;
    line-height: 140px;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 70px;
    line-height: 70px;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
}


.burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: none;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #ffffff;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #ffffff;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
  .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: rgba(82, 82, 82, 0.2);
    backdrop-filter: blur(9px);
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 240px;
    height: 100vh;
  }
  .menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  .menu-item:hover {
    background: rgba(255,255,255,.2)
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }



.text-level {
    display: flex;
    flex-direction: row;
}

.between-margin {
    gap: 455px;
    margin-bottom: 20px;
}

.act-block-paragpraph {
    width: 340px;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
}

.act-btn {
    position: absolute;
    left: 34%;
    top: 68%;
    background-color: rgba(116, 116, 116, 0.2);
    backdrop-filter: blur(6px);
    width: 198px;
    height: 198px;
    border: 0;
    border-radius: 150px;
    /* filter: drop-shadow(0px 4px 4px #4A4A4A); */
    box-shadow: 0px 4px 4px rgba(74, 74, 74, 0.25);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 160px;
    width: 1450px;
    margin: auto auto;
}

.first-slogan {
    align-items: center;
    text-align: center;
    width: 68%;
    margin-top: 180px;
}

.main-courses {
    display: flex;
    flex-direction: row;
    width: inherit;
    gap: 40px;
}

.status {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    line-height: 70px;
    
    color: #fff;
}

.courses-cards-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 40px;
    margin-top: 50px;
}

.courses-card {
    display: flex;
    flex-direction: column;
    width: 325px;

}

.courses-card p {
    margin-top: 10px;

    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
}

.courses-card img {
    margin-bottom: 25px;
    size:initial;
}

.courses-for {
    display: flex;
    flex-direction: row;
    width: inherit;
}

.courses-for-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.reverse-col {
    display: flex;
    flex-direction: column-reverse;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 365px;
    max-height: 270px;
    min-width: 290px;
    min-height: 290px;
    padding: 30px 20px;

    border: 1px solid #929292;
}

.info-block p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
}

.info-block-img img {
    max-width: 365px;
    max-height: 270px;
    min-width: 290px;
    min-height: 290px;
}

.assimilate-block {
    display: flex;
    flex-direction: row;
    width: inherit;
    gap: 40px;
}

.assimilate-text-col {
    margin-top: 50px;
}

.text-assimilate-group {
    display: flex;
    gap: 16px;
    width: 80%;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #6C6C6C;
}

.assimilate-group-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    margin-top: 10px;
}

.assimilate-group-name {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
}

.button-start {
    width: 475px;
    padding: 26px 70px;
    background-color: rgba(194, 194, 194, 0.2);
    
    margin-top: 40px;
    border: 0;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: var(--white-color);
}

.tarifs-block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 160px 0;
    background-image: url(../assets/img/tarifs.png);
    background-repeat: no-repeat;
}

.tarifs-block h3 {
    margin-top: 80px;
    margin-bottom: 48px;
}

.tarifs-cards-row {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.tarifs-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 4px;
    margin-bottom: 80px;
    background-color: rgba(120, 120, 120, 0.2);
}  

.tarifs-card-little {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 900px;
    background-color: rgba(120, 120, 120, 0.2);
}   

.tarifs-card-up-side {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    gap: 15px;
}

.tarifs-card img{
    width: 518px;
    height: 427px;

}

.tarifs-name {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
}

.price-block {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.price-dollar {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 45px;
}

.price-rubles {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
}

.bonus-block {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 345px;
    margin-top: 12px;
    padding-bottom: 14px;
    border-bottom: 1px solid var(--white-color);
}

.bonus-descr {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
}

.places {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.count-places-text {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
}

.count-places {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
}

.choose-first {
    padding: 14px 140px;
    margin-top: 10px;
    margin-bottom: 20px;

    border: 0;
    background-color: rgba(120, 120, 120, 0.4);
    color: var(--white-color);

    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
}

.choose-second {
    padding: 14px 140px;
    margin-top: 10px;
    margin-bottom: 20px;    

    border: 0;
    background-color: rgba(120, 120, 120, 0.4);
    color: var(--white-color);

    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
}

.chelenge-block {
    display: flex;
    flex-direction: row;
    width: inherit;
    gap: 76px;
}

.chelenge-places-blocks {
    margin-top: 10px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.leftside-courses-chelenge img {
    width: 655px;
    height: 656px;
}

.place-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 130px;
    border-top: 1px solid #D9D9D9;
}

.place {
    margin-top: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
}

.money-for-place {
    margin-top: auto;
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 70px;
}










.button-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1450px;
    width: 70%;
    height: 510px;
    background-image: url(../assets/img/banner-btn.png);
    border: 0;
    border-radius: 0;

    color: var(--white-color);
}

.banner-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    margin-top: 38px;
    margin-bottom: 38px;
}

.button-banner_small {
    width: 475px;
    padding: 26px 100px;
    background-color: rgba(194, 194, 194, 0.2);
    
    border: 0;

    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    color: var(--white-color);
}



.footer-wrap {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 320px;

    margin-top: 160px;

    border: 1px solid #ABAAAA;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.footer-navigation {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin: 85px 0 85px 0;
}

.naming {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
}

.footer-social, .footer-nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 92px;
}
.list-nav {
    display: flex;
    flex-direction: row;
    gap: 92px;
}

.footer-social li, .footer-nav li {
    font-size: 20px;
    margin: 12px 0;
    
}

ul li {
    
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

.footer-site-docs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-top: auto;
    margin-right: auto;
    padding: 10px 0px 10px 0px;

    border: 1px solid #ABAAAA;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;

    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
}

.footer-container {
    display: flex;
    width: 1450px;
    gap: 32px;
}